<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Booking</title>
    <link rel="stylesheet" href="home.component.css" />
  </head>
  <body>
    <section class="hero">
      <div>
        <app-navbar></app-navbar>
      </div>
      <h1>Discover Your Dream Destination</h1>
      <p>Explore amazing places and book your next adventure with us.</p>
      <button><a routerLink="/register">Book Now</a></button>
    </section>
  </body>
</html>
